.env
#Buidler files
abi
cache
artifacts
node_modules
dist
build
types

coverage
.coverage_artifacts
.coverage_cache
.coverage_contracts

package-lock.json
yarn.lock
coverage.json

deployed-contracts.json

.vscode
soljson-v0.8.4+commit.c7e474f2.js
